body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #421212;
}

header {
    background: #ffffff;
    color: #ff0000;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #5e5757;
}

nav ul li a {
    color: #f84848;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 10px 20px;
    background: #b94949;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}